{% extends 'base.html.twig' %}

{% block title %}New ProjectMilestone{% endblock %}

{% block body %}
    <h1>Create new ProjectMilestone</h1>

    {{ include('project_milestone/_form.html.twig') }}

    <a href="{{ path('app_project_milestone_index') }}">back to list</a>
{% endblock %}
